<h2>Celebrities page</h2>

{{#each celebrities}}

<h3>{{name}}</h3>
<a href="/celebrities/show/{{id}}"> Read more</a>
<form method="POST" action="/celebrities/{{id}}/delete"> <button>Delete</button></form>

{{/each}}


<a href="/celebrities/create"> Click here to create a celeb!</a>