<h2>{{title}}</h2>
<br>
<h3>Name: {{celebrity.name}}</h3>
<h4>Occupation: {{celebrity.occupation}}</h4>
<h4>Catch Phrase: <em>'{{celebrity.catchPhrase}}'</em></h4>
<br>
<a href="/celebrities">Go back to the other celebrities</a>